<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marks of the student</title>
</head>
<body>
    <h1>Marks</h1>
    <h2><% if(marks >= 40) { %>
        <h3>Pass</h3>
    <% } else { %>
    <h3>Fail</h3>
    <% } %></h2>
        
</body>
</html>